$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Space out content a bit */
* {
  padding: 0; margin: 0;
  z-index: 1;
  font-size: 72px;
}

body {
  background: #000;
  overflow: hidden;
}

#app {
  position: fixed;
  margin: 0; padding: 0;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

.wrapscreen {
  margin: 0; padding: 0;
  min-width: 100%; min-height: 100%;
}
.fullscreen {
  @extend .wrapscreen;
  position: fixed;
  top: 0; left: 0;
}

.dropper {

  z-index: 10;
  &.hide {
    display: none;
  }

  .dropper-mask {
    z-index: -1;
    pointer-events: none;

    &.over {
      @extend .fullscreen;
      content: '';
      z-index: 100;
      background: rgba(200, 100, 150, 0.3);
    }
  }
}

.sample-manager .dropper {
  @extend .fullscreen;
}

video {
  @extend .fullscreen;
  &.paused {
    top: -9999px;
  }
}

.configList {
  @extend .fullscreen;
  &.invisible {
    top: -9999px;
    z-index: -1;

    .config {
      display: none;
    }
  }
  &.visible {
    top: 0px;
    z-index: 20;
  }
}

.config {
  @extend .wrapscreen;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: left .1s linear 0, top .1s linear 0;


  img {
    @extend .wrapscreen;
    position: absolute;
    top: 0; left: 0;
    opacity: 0.5;
  }

  .dropper {
    @extend .wrapscreen;
    position: absolute;
    top: 0; left: 0;
  }

  .config-content {
    position: absolute;
    width: 100%;
    height: 200%;
  }
}
.config-active {
  left: 0;
}
.config-right {
  left: 100%;
}
.config-left {
  left: -100%;
}
.config-pattern .config-content {
  top: 0;
}
.config-time .config-content {
  top: -100%;
}

.hexline {
  @extend .fake;
  top: 0;

  &.focused .fake-invert {
    background: #0DF;
  }
}

.timeline {
  @extend .fake;
  top: 50%;

  span {
    font-size: 144px;
  }
  &.focused .fake-invert {
    background: #F93;
  }
}

.fake {
  position: absolute;
  z-index: 30;
  left: 0;
  width: 100%; height: 50%;

  .fake-display {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-style: italic;
    color: #eee;

    position: absolute;
    min-width: 100%;

    .line {
      display: block;
      position: relative;
      top:0;
      min-width: 120%;
      height: 288px;

      span {
        font-size: 216px;
        position: relative;
        display: inline;
      }
    }
  }

  &.focused .fake-invert {
    color: #222;
  }
}